<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
  <head>

    <meta charset="UTF-8">
    <title>home html</title>
  </head>
  <body>
	<section>
    <div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
			<div class="my-card">	


			<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert text-center" role="alert"  th:text="${session.message.content}" >
<!--  				 <p class="text-center" th:text="${session.message.content}"></p>-->
<!--					<th:block th:text="${#session.setAttribute("message", new Message(" ", "alert-success")}"></th:block>-->
			</div>
			
			
<!--			<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">-->
<!--  				 <p class="text-center" th:text="${session.message.content}"></p>-->
<!--  				 <th:block th:text="${#session.removeAttribute('message')}"></th:block>-->
<!--			</div>-->

			<h1 class="text-center text-white">Register</h1>
			<form action="" th:action="@{/do_register}" method="post" th:object="${user}">
			
			<!-- name-field-->
			
		<div class="form-group">
		    <label for="name_field" class="text-white">Name</label>
		    <input type="text" 
		    	name="name"
		    	class="form-control" 
		    	id="name_field" 
		    	aria-describedby="emailHelp"
		    	placeholder="Enter here"
		    	required
		    	th:value="${user.name}"
		    	th:classappend="${#fields.hasErrors('name')?'is-invalid':''}"
		    	/>
		    	
		    	<div th:each="e : ${#fields.errors('name')}" th:text="${e}" id="validationServer03Feedback" class="invalid-feedback">
        			
      			</div>
<!--		    	<p th:each="e : ${#fields.errors('name')}" th:text="${e}" class="text-white"> </p>-->
		    	
		    	
		   </div>
			
			<!-- email-field-->
			<div class="form-group">
		    <label for="email_field" class="text-white">Email address</label>
		    <input type="email" 
		    	name="email"
		    	class="form-control" 
		    	id="email_field" 
		    	aria-describedby="emailHelp"
		    	placeholder="Enter here"
		    	required
		    	th:value="${user.email}"
		    	/>
		    	
		    
		    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
		 </div>
		 
		<!-- password-field-->
			
		<div class="form-group">
		    <label for="password_field" class="text-white">Password</label>
		    <input type="password" 
		    	name="password"
		    	class="form-control" 
		    	id="password_field" 
		    	aria-describedby="emailHelp"
		    	placeholder="Enter here"
		    	required
		    	/>
		    
		   </div>
		   
		   
		   		<!-- about-field-->
			
		<div class="form-group">
		    
		    <textarea name="about" th:value="${user.about}" class="form-control" rows=4 placeholder="About yourself"></textarea>
		   
		  </div>
		  
		  <!--terms and conditioons agreement-->
			<div class="form-group form-check text-center">
				<input type="checkbox" name="agreement" class="form-check-input" id="agreement"/>
				<label for="agreement" class="text-white">Accept Terms and Conditions</label>
			</div>
			
		<div class="container text-center">
		    <button type="submit" class="btn bg-primary text-white ">Submit</button>
		    <button type="reset" class="btn bg-primary text-white ">Reset</button>
		   
		  </div>
			
			</form>
			</div>
			</divclass>
		</divclass>
		
	</div>
    
    </section>
  </body>
</html>