<!--<!doctype html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--  <head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>User Dashboard</title>-->
<!--  </head>-->
<!--  <body>-->
<!--    <h1>Welcome to user dashboard </h1>-->
<!--    <h1>User name <span th:text="${user.name}"></span> </h1>-->
<!--    <h1>User email <span th:text="${user.email}"></span> </h1>-->
<!--    <h1><a href="" th:href="@{/logout}">logout</a> </h1>-->
<!--  </body>-->
<!--</html>-->


<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::Layout(~{::section})">
  <head>
    <meta charset="UTF-8">
    <title>home html</title>
  </head>
  <body>
	<section>
    <h2>Private dashboard</h2>
    </section>
  </body>
</html>